{% extends 'bank/base.html' %}

{% block content %}
<div class="container">
        <h1>Список счетов</h1>
    <ul class="list-group">
        {% for a in object_list %}

            <li class="list-group-item"> Номер счёта {{ a.account_number }} ---  Количество средств {{ a.amount_of_funds }}</li>
         <form action="{% url 'accounts_delete' a.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary mb-3" value="Удалить счёт">
        </form>
        {% empty %}
            <li>No accounts found.</li>
        {% endfor %}
    </ul>
    <form action="{% url 'accounts' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary mb-3" value="Создать счёт">
    </form>
</div>
{% endblock %}